.cards__item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 13px;
  padding: 11px 20px 19px;
  border-bottom: 1px solid #ebebeb;
  align-items: center;
  justify-items: center;

  @media (min-width: @tablet-width) {
    display: block;
    padding: 10px 37px 40px;
    background-image: linear-gradient(to top, #f2f2f2 84%, #ffffff 16%);
  }

  @media (min-width: @desktop-width) {
    padding: 5px 38px 40px;
  }

  &--more {
    position: relative;
    padding-top: 70px;
    background-image: none;
    row-gap: 0;

    .cards__title {
      grid-column: span 2;
      margin-bottom: 8px;
      max-width: 205px;
      color: #111111;

      @media (min-width: @tablet-width) {
        max-width: 140px;
        margin-bottom: 23px;
      }
    }

    .cards__description {
      display: block;
      grid-column: ~"1 / -1";
      max-width: 220px;
      margin-bottom: 21px;

      @media (min-width: @tablet-width) {
        max-width: 175px;
        text-align: center;
        margin-bottom: 82px;
      }
    }

    @media (min-width: @tablet-width) {
      margin-top: 82px;
      padding-top: 160px;
      background-position: top 50px center;
      background-size: 60px 60px;
      align-items: start;
      border: 2px solid #f2f2f2;
    }

    .cards__link {
      @media (min-width: @desktop-width) {
        padding: 10px 35px;
      }
    }
  }
}

.cards__item-container {
  &::after {
    content: "";
    position: absolute;
    top: 6px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 30px;
    height: 30px;
    background: #ffffff url("../img/sprite.svg#plus") no-repeat center;

    @media (min-width: @tablet-width) {
      width: 60px;
      height: 60px;
      top: 50px;
    }
  }
}

.cards__image {
  margin: auto;
  display: block;

  @media (min-width: @tablet-width) {
    grid-column: span 2;
    margin-bottom: 22px;
  }

  &--mini {
    margin-bottom: 43px;
  }
}

.cards__text {
  padding-bottom: 9px;
  justify-self: start;
  width: 100%;

  @media (min-width: @tablet-width) {
    grid-column: span 2;
    padding-bottom: 0;
    margin-bottom: 37px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 10px;
    margin-bottom: 26px;
  }
}

.cards__title {
  font-family: "Oswald", "Arial", serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
  margin: 0;
  margin-bottom: 14px;
  max-width: 80px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 24px;
    margin: 0 auto 20px;
    max-width: 140px;
    text-align: center;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 25px;
  }
}

.cards__description {
  font-size: 12px;
  line-height: 16px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 20px;
    row-gap: 7px;
  }
}

.cards__description-wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 4px;

  @media (min-width: @tablet-width) {
    border-bottom: 1px solid #cdcdcd;
  }
}

.cards__cost {
  margin: 0;
  justify-self: end;
}

.cards__link {
  grid-column: ~"1 / -1";
  text-align: center;
  width: 100%;

  &--more {
    background-color: #f2f2f2;
    text-align: center;
    color: #444444;
  }
}
