.main-nav {
  padding: 7px 20px;
  display: flex;

  @media (max-width: @mobile-width-only) {
    &--nojs {
      padding: 0;
      width: 100%;

      .main-nav__toggle {
        display: none;
      }

      .main-nav__list {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
        top: 100%;
        left: 0;
        background-color: #ffffff;
        z-index: 1;
      }
    }
  }

  @media (min-width: @tablet-width) {
    padding: 0;
  }
}

.main-nav__toggle {
  cursor: pointer;
  padding: 12px;
  background-image: url("../img/sprite.svg#toggle");
  background-repeat: no-repeat;
  background-color: #ffffff;
  background-position: center;
  border: none;

  &--opened {
    background-image: url("../img/sprite.svg#toggle-close");
  }

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (max-width: @mobile-width-only) {
    &--opened {
      width: 100%;
      display: flex;
      flex-direction: column;
      text-align: center;
      position: absolute;
      top: 85%;
      left: 0;
      background-color: #ffffff;
      z-index: 1;
    }

    &--closed {
      display: none;
    }
  }

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    gap: 33px;
    z-index: 0;
  }

  @media (min-width: @desktop-width) {
    background-color: transparent;
    z-index: 1;
  }
}

.main-nav__item {
  padding-top: 22px;
  padding-bottom: 24px;
  position: relative;

  @media (max-width: @mobile-width-only) {
    &::before {
      content: "";
      width: 100%;
      height: 1px;
      background-color: #e6e6e6;
      position: absolute;
      top: 0;
      left: 0;
    }

    &:last-child::after {
      content: "";
      width: 100%;
      height: 1px;
      background-color: #e6e6e6;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  @media (min-width: @tablet-width) {
    padding: 14px 0 12px;
    position: relative;
  }

  @media (min-width: @desktop-width) {
    padding: 16px 0 13px;
  }
}

.main-nav__link {
  display: block;
  font-family: "Oswald", serif;
  font-size: 20px;
  text-transform: uppercase;
  color: #000000;
  line-height: 20px;


  @media (min-width: @tablet-width) {
    font-size: 18px;
    line-height: 24px;

    &--current::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 2px;
      left: 50%;
      transform: translateX(-50%);
      background-color: #68b738;
    }
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 30px;

    &--index {
      color: #ffffff;
    }

    &--index&--current::after {
      bottom: 5px;
      background-color: #ffffff;
    }
  }

  &[href]:hover {
    opacity: 0.6;
  }

  &[href]:active {
    opacity: 0.3;
  }
}
