.promo {
  min-height: 480px;
  display: flex;
  position: relative;
  justify-content: space-around;

  &::before {
    content: "";
    background-image: url("../img/promo/promo-background-mobile@1x.jpg");
    background-color: #64a83b;
    background-size: 270px 310px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    height: 310px;
    top: -10px;
    left: 0;
    right: 0;
  }
}

@media (min-resolution: 2dppx) {
  .promo {
    &::before {
      background-image: url("../img/promo/promo-background-mobile@2x.jpg");
      background-size: cover;
    }
  }
}

@media (min-width: @tablet-width) {
  .promo {
    &::before {
      background-color: #ffffff;
      background-image: none;
    }
  }
}

@media (min-width: @desktop-width) {
  .promo::before {
    content: "";
    background-image: url("../img/promo/promo-background-desktop@1x.jpg");
    background-color: #64a83b;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center left;
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: auto;
    right: 0;
  }
}

@media (min-width: @desktop-width) and (min-resolution: 2dppx) {
  .promo::before {
    background-image: url("../img/promo/promo-background-desktop@2x.jpg");
  }
}

.promo__wrapper {
  padding: 27px 20px 0 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  z-index: 3;
  position: relative;
}

@media (min-width: @tablet-width) {
  .promo__wrapper {
    text-align: left;
    margin-left: 90px;
  }
}

@media (min-width: @desktop-width) {
  .promo__wrapper {
    margin-left: 160px;
    margin-top: 225px;
    min-height: 694px;
  }
}

.promo__title {
  font-family: "Oswald", sans-serif;
  color: #ffffff;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin: 0 0 25px 0;
}

@media (min-width: @tablet-width) {
  .promo__title {
    width: 100%;
    color: #000000;
    font-size: 60px;
    line-height: 60px;
  }
}

.promo__slogan {
  font-family: "Oswald", sans-serif;
  color: #ffffff;
  line-height: 14px;
  text-transform: uppercase;
  margin: 0  0 29px 0;
}

@media (min-width: @tablet-width) {
  .promo__slogan {
    color: #000000;
    font-size: 20px;
    line-height: 20px;
    margin-right: auto;
  }
}

@media (min-width: @tablet-width) {
  .promo__img {
    display: block;
    margin-left: -60px;
  }
}

@media (min-width: @desktop-width) {
  .promo__img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-40%);
  }
}

.promo__link {
  background-color: #68b738;
  color: #ffffff;
  padding: 11px 20px;
  text-transform: uppercase;
  border: 0;
  white-space: nowrap;
  margin-top: auto;
  min-width: 280px;
  text-align: center;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    background-color: #5eaa2f;
    color: #ffffff4d;
  }

  &:disabled {
    background-color: #5eaa2f;
    color: #ffffff4d;
  }
}

@media (min-width: @tablet-width) {
  .promo__link {
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 0;
    padding: 18px 10px;
    min-width: 244px;
    position: absolute;
    top: 235px;
    left: 20px;
  }
}
