.social {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.social__item {
  height: 22px;
}

.social__link {
  display: inline-block;
  padding: 11px 14px;
  background-repeat: no-repeat;
  background-position: center;

  &--vk {
    background-image: url("../img/vk.svg");
  }

  &--youtube {
    background-image: url("../img/youtube.svg");
  }

  &--telegram {
    background-image: url("../img/telegram.svg");
  }
}
